body{
    background: rgb(230, 230, 230);
    color: rgb(50, 50, 50);
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
}
h1,h2{
    font-family: 'Robot', sans-serif;
}
.img-circle{
    width: 100px;
    border-radius: 50%;
}
h1{
    color: #6b6e82;

    font-size: 32px;
    font-weight: 900;
}
h2{
    color: #b3d2a9;

    font-size: 24px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #787ab6;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Robot', sans-serif;

}
a:hover{
    color: black;
}

.container{
    width: 700px;
    margin: 40px auto;

}

@media (max-width:760px){
    .container{
        width: 600px;
    }
}
@media (max-width:500px){
    .container{
        width: 400px;
    }
}
.card-white{
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}
.btn-blue{
    background-color:#787ab6 ;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}
.btn-blue:hover{
    background-color: black;
    color: white;
}

.list-inline{
    list-style: none;
    padding-left: 0;
}
.list-inline li{
    display: inline;
    padding: 10px;
}
.list-inline i{
    font-size: 50px;
    color: rgb(230, 230, 230);
}
.list-inline i{
    color: black;
}
#intro{
    margin-bottom: 40px;
}